<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Recipes By Country</title>
    <meta name='robots' content='noindex, nofollow'>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script>
        function passVariable(url, i) {
            console.log('I ->', i, url);
            getRecipe(i);
            document.getElementById("mainMap").style.display = "none";
            document.getElementById("myRec").style.display = "block";
            

        }
        function hideRec() {
            location.reload();
        }
    </script>
    <div id="myRec">
    <div id="recipe">
        <div class="heading">
            <h1> {{ country }} {{dish}} </h1>
        </div>
    </div>
    <div class="miniheading">
        <h2 id="hideRecipe">Go Back to Map: <a href="#" onclick="hideRec()">Link</a></h2>
        <h2 id="source">Recipe Source: <a href={{recipe}}>Link</a></h2>
    </div>
    <div class="maincontent">
        <ul id="ingredients">
            <li v-for="item in items">
                {{item}}
            </li>
        </ul>
        <ol id="steps">
            <li v-for="item in items" :key="item.message">
                {{ item }}
            </li>
        </ol>
    </div>
    <div class="footer"></div>
    </div>
    <div id="mainMap">
        <div class='heading'>
            <h1>Click On An Icon To View A Recipe</h1>
        </div>

        <div id='map' class='map'></div>
        <script type="text/javascript" src="./js/main.js"></script>

    </div>

</body>
</html>
