<!doctype html>
<html>
<head>
    <title>Getting Started</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="recipe">
        <div class="heading">
            <h1> {{ country }} {{dish}} </h1>
        </div>
    </div>
    <div class="miniheading">
        <h2 id="source">Recipe Source:<a href={{recipe}}> Link</a></h2>
    </div>
    <div class="maincontent">
        <ul id="ingredients">
            <li v-for="item in items">
                {{ item}}
            </li>
        </ul>
        <ol id="steps">
            <li v-for="item in items" :key="item.message">
                {{ item }}
            </li>
        </ol>
    </div>
    <div class="footer"></div>
    <script type="module" src="./js/recipe.js"></script>

</body>
</html>