* {
    box-sizing: border-box;
    overflow: hidden;
}

.heading {
    position: absolute;
    width: 100%;
    top: 0vh;
    left: 0;
    height: 15vh;
    background-color: darkolivegreen;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
    font-size: 1vw;
}

.maincontent {
    position: absolute;
    width: 100%;
    top: 30vh;
    left: 0;
    max-height: 60vh;
    overflow:auto;
    background-color: white;
    padding-top: 15px;
    color: black;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0vh;
    left: 0;
    height: 10vh;
    background-color: cadetblue;
}
.miniheading {
    position: absolute;
    width: 100%;
    top: 15vh;
    left: 0;
    height: 15vh;
    background-color: cadetblue;
    padding-left: 10px;
    color: white;
    font-size: 1vw;
}
.map {
    border-left: 1px solid #fff;
    position: absolute;
    width: 100vw;
    top: 15vh;
    left: 0;
    bottom: 0;
}
.myRec{
    display:none;
}

ul {
    list-style-type: disc;
}

h3 {
    color: darkolivegreen;
    font-size: 1.5em;
    border-bottom: 4px solid cadetblue;
}

button {
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}